@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5 pt-5">
    <h1 class="display-2 mb-5">Welcome</h1>
    <p class="text-center">This is a temporary landing page until I come up with something pretty to put here...</p>
    <p class="text-center">Feel free to check out the functionality by getting started in the top right!</p>
    <p class="text-center"><i class="bi bi-emoji-smile" style="font-size: 8rem;"></i></p>
</div>
